[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
requests = "*"
flask-marshmallow = "*"
marshmallow = "*"

[dev-packages]
pylint = "*"
black = "*"
pep8 = "*"

[requires]
python_version = "3.6"
