[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "1.0.2"
flask-sqlalchemy = "2.1"
marshmallow-sqlalchemy = "*"
requests = "2.9.1"
flask-marshmallow = "*"

[dev-packages]
pylint = "*"
#black = "*"
pep8 = "*"

[requires]
python_version = "3"
